# Replace with your DB credentials!
DATABASE_URL="mysql://user:password@host:port/db-name"
ORIGIN=""
BETTER_AUTH_SECRET=""
FILES_DIR=
SMTP_HOST=
ORIGIN=
SMTP_PASSWORD=
 SMTP_PORT=465
 PUBLIC_KEY=
 SECRET_KEY=
 SMTP_USER=
 CHAT_LIMIT_SECRET=
 GEMINI_KEY=